header{
    display: flex;
    // justify-content: space-around;
    height: 25vh;
    nav{
        width: 100vw;
        background-color: #6B7DB3 !important;
      #logo{
        height: 20vh;
        position: relative;
        top: 15px;
        left: 40px;
        }  
        h1{
            text-transform: uppercase;
        }
    }
    
}


@media screen and (max-width:420px){
header{
    height: 15vh;
    display: flex;
    nav{
        flex-direction: row-reverse;
        width: 100vw;
        background-color: #6B7DB3 !important;
        #logo{
        height: 10vh;
        left:-15px;
        top: 17px;
        }
     h1{
        color: #E2E5EB;
        position: relative;
        top: 32px;
        right: 55px;
        text-transform: uppercase;
        font-size: 21px;
        }
    }
    
    
}
}