<header>
    
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="../../assets/img/gamespack.png" alt="logo" id="logo"> 
        <h1 class="ml-5">Games Pack</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="navigat">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/jeux">Jeux</a>
                </li>
                <li class="nav-item test">
                    <a *ngIf="this.authService.isLoggedIn" routerLink="/post-test" >Publiez un test</a>
                </li>
                <!-- <form class="form-inline my-2 my-lg-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 search" type="submit"><img src="../../assets/img/magnifier_icon-icons.com_56922.png" alt=""></button>
            </form> -->
            </ul>
            <ul class="navbar-nav mr-auto " id="connect">
                <li class="nav-item ">
                    <a *ngIf="!this.authService.isLoggedIn" class="nav-link " routerLinkActive="active" routerLink="/inscript" >Inscription</a>
                    <a *ngIf="this.authService.isLoggedIn" [routerLink]="['/profil', lol]">Profil</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="!this.authService.isLoggedIn" class="nav-link" routerLinkActive="active"  routerLink="/login" >Connexion</a>
                    <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn btn-danger">Déconnexion</button>
                </li>
            </ul>
            
        </div>
    </nav>
</header>
