.contain{
    height: 70vh;
    #separateur{
        width: 100vw;
        height: 4vh;
        background-color: #E2E5EB;
    }
    section{
        height: 90%;
        width: 97%;
        padding-top: 3vh;
        margin: auto;
        overflow: auto;
        background-color: white;
    }
}


